.logo{
	heihth:30px;
	width: 40px;
	margin-top:50px;
}
.logo{
	display:inline-block;
}
.navbar{
	display:inline-block;
}
.avbar-li{
	display:inline-block;
}
.blue-box{
	background-color:blue;
	font-size:35px;
	padding:20px;
}